body{
	margin:0;
	padding:0;
}

html,body{
height:100%;
}

#wrapper{
	min-height:100%;
width:100%;
margin-bottom:-41px;
}

#head_list{
	display:inline-block;
	margin-top:10px;
	margin-left:75%
	
}

#head_list ul{
  list-style-type:none;
}

#head_list ul li{
  display:inline;
  padding-left:15px;
}

#head_list ul li a{
	font-size:13px;
	font-family:arial;
  color:#000;
}

#head_list ul li a:hover{
  text-decoration:underline;
}

a{
  text-decoration:none;
}

.sign_in{
	display:inline-block;
	width:71px;
	height:30px;
	background-color:#4486F9;
	color:white;
	text-align:center;
	line-height:30px;
	margin-left:15px;
	border-radius:3px;
}

#search{
	
	
	display:block;
	width:500px;
	height:200px;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.logo{
height:95px;
width:269px;
position: absolute;
    top:0;
    bottom: 20;
    left: 0;
    right: 0;

    margin: auto;
}

.search-field{
	background-image:url(../images/mic.png);
	background-repeat:no-repeat;
	background-position:right 10px center;
	position: absolute;
width:100%;
height:25px;
top:115px;
}

.search-btn{
width:96px;
height:29px;
background-color:#F2F2F2;
border: 1px solid #dcdcdc;
font-size:11px;
font-family:arial;
font-weight:bold;
color:#444;
line-height:29px;
text-align:center;
position:absolute;
top:170px;
left:135px;

}

.search-btn:hover{
	border-color:#c6c6c6;
box-shadow:0px 1px 1px #888888;

}

.lucky{
width:111px;
height:29px;
background-color:#F2F2F2;
border: 1px solid #dcdcdc;
font-size:11px;
font-family:arial;
font-weight:bold;
color:#444;
line-height:29px;
text-align:center;
position:absolute;
top:170px;
left: 255px;

}

.lucky:hover{
	border-color:#c6c6c6;
box-shadow:0px 1px 1px #888888;

}

#foot{
	
	display: block;
	height: 41px;
	width: 100%;
	background-color: #F2F2F2;
	border-top: 1px solid #dcdcdc;
	line-height:41px;
}

.right-links{
	margin-left:50%;
	
}

.right-links a{
	margin-left:30px;
	font-family:arial;
	color:#777;
	font-size:small;
}

.right-links a:hover{
	text-decoration:underline;
}

.left-links{
	margin-left:2%;
	
}

.left-links a{
	margin-right:30px;
	font-family:arial;
	color:#777;
	font-size:small;
}

.left-links a:hover{
	text-decoration:underline;
}